<div {{bind-attr class=":columns view.sizeClass"}}
     {{action 'addNewBox' this.box}}>
    <div {{bind-attr class=":box view.colorClass"}}>
        <div class="header">
            <div class="row">
                <div class="small-6 columns">
                    [{{ view.boxId }}]
                </div>
                <div class="small-6 columns">
                    <span class="removeBtn" {{action 'removeBox' this.box}}>X</span>
                </div>
            </div>
        </div>
        <div class="body">
            <div class="row">
                <div class="small-6 columns">
                    {{ view.previousElIndex }}
                </div>
                <div class="small-6 columns">
                    {{ view.nextElIndex }}
                </div>
            </div>
        </div>
    </div>
</div>
